name: VPS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install tmate
        run: sudo apt-get update && sudo apt-get install -y tmate

      - name: Start tmate session
        run: |
          echo "Starting tmate..."
          tmate -S /tmp/tmate.sock new-session -d
          tmate -S /tmp/tmate.sock wait tmate-ready
          tmate -S /tmp/tmate.sock display -p 'ssh session: #{tmate_ssh}'
          tmate -S /tmp/tmate.sock display -p 'web session: #{tmate_web}'
      - name: Keep session alive
        run: sleep 999999
